.main {

    display: flex;
    flex-direction: column;
}

.main__section-first {

    width: 100vw;
    height: 50vh;

    background-color: var(--color-brand-1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 3.125rem;
}

.section-first__title {

    color: var(--color-grey-7);

    font-weight: var(--font-weight-2);
    font-size: var(--font-size-2);
    line-height: var(--line-height-1);
}


.section-first__description {

    color: var(--color-grey-7);

    font-weight: var(--font-weight-4);
    font-size: var(--font-size-4);
    line-height: var(--line-height-2);

    width: 90%;
    max-width: 24.375rem;
}

.main__section-secound {

    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1.125rem;

    background-color: var(--color-grey-2);
}

.section-secound__title {

    color: var(--color-grey-7);

    font-weight: var(--font-weight-3);
    font-size: var(--font-size-4);
    line-height: var(--line-height-2);
}

.section-secound__container {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-secound__label {

    color: var(--color-grey-7);

    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    line-height: var(--line-height-4);
}

.section-secound__input {

    color: var(--color-grey-6);
    background-color: var(--color-grey-1);

    font-weight: var(--font-weight-4);
    font-size: var(--font-size-5);
    line-height: var(--line-height-4);

    border: solid 1px var(--color-grey-3);
    border-radius: var(--radius-2);

    width: 95%;
    max-width: 19.75rem;
    height: 2.375rem;
    padding-left: .625rem;
}

.section-secound__button {

    color: var(--color-grey-7);
    background-color: var(--color-brand-2);

    padding: .625rem 5.8125rem;

    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    line-height: var(--line-height-4);

    border-radius: var(--radius-2);
}

@media (min-width: 780px) {

    .main {
        flex-direction: row;
    }

    .main__section-first {

        width: 50vw;
        height: 100vh;
    }

    .main__section-secound {

        width: 50vw;
        height: 100vh;
    }
}